.margin-vertical
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-bottom
{
    margin-bottom: 20px;
}
.img-responsive
{
	width:100%;
}
.row
{
	margin-bottom:10px;
}
.menu-margin
{
	margin-top: 90px;
}