/* Modal Content */
.modal-content-event {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.add_btn {
	margin: 20px;
	font-family: Roboto Slab;
	font-size: 25px;
}

.bottoni_add {
	margin: 20px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

.container-fluid {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
#id01 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
#modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close1 {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close1:hover, .close1:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@
-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@
keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

.modal-img {
	margin: 20px;
	width: 350px;
}

.modal-h1 {
	font-family: Roboto Slab;
	font-weight: bold;
	margin: 20px;
}

.modal-h2 {
	font-family: Roboto Slab;
	font-weight: bold;
}

.modal-p {
	font-family: Roboto Slab;
	font-size: 130%;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#photo {
	position: absolute;
	bottom: 0px;
}

.carousel-caption {
	margin: auto;
	height: absolute;
	max-width: 320px;
	margin-bottom: 35px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: rgba(255, 255, 255, 0.6);
	border-top: 6px solid #504440;
}

.carouselTitle {
	font-family: Roboto Slab;
	font-weight: bold;
	color: #504440;
	margin-top: 0;
}

.carouselDescription {
	font-family: Roboto Slab;
	color: #504440;
}

.info-button {
	font-size: 28px;
	transition: transform .2s;
	color: #008046;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	outline: 0;
}

.info-button:hover {
	transform: scale(1.1);
	color: #008046;
	text-decoration: none;
}

.icon-brand-button {
	color: #008046;
	transition: transform .2s;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	outline: 0;
}

.icon-brand-button:hover {
	transform: scale(1.1);
	color: #008046;
	text-decoration: none;
}

#header {
	border-bottom: solid 5px #008046;
}

.sidebar {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.item {
	height: 400px;
}

.button {
	background-color: green;
}

.bg-green {
	background-color: #008046;
	color: white;
}

span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}

.column {
	margin: 15px 15px 0;
	padding: 0;
}

.column:last-child {
	padding-bottom: 60px;
}

.column:after {
	content: '';
	clear: both;
	display: block;
}

.column div {
	position: relative;
	float: left;
	width: 350px;
	height: 350px;
	margin: 0 0 0 25px;
	padding: 0;
}

.column div:first-child {
	margin-left: 0;
}

.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 350px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure {
	width: 350px;
	height: 350px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover11 figure:hover img {
	opacity: .5;
}

.title {
	padding: 0px 0px 40px;
}

/***************************************/

#Twitter:hover {
	color: rgba(29,161,242,1.00);
}

#Facebook:hover {
	color: blue;
}

#Youtube:hover {
	color: red;
}

#Instagram:hover {
	color: purple;
}

#Mail:hover {
	color: orange;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

.container-fluid {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
#id01 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
#modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close1 {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close1:hover, .close1:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@
-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@
keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

.modal-img {
	margin: 20px;
	width: 350px;
}

.modal-h1 {
	font-family: Roboto Slab;
	font-weight: bold;
	margin: 20px;
}

.modal-h2 {
	font-family: Roboto Slab;
	font-weight: bold;
}

.modal-p {
	font-family: Roboto Slab;
	font-size: 130%;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#photo {
	position: absolute;
	bottom: 0px;
}

.carousel-caption {
	margin: auto;
	height: absolute;
	max-width: 320px;
	margin-bottom: 35px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: rgba(255, 255, 255, 0.6);
	border-top: 6px solid #504440;
}

.carouselTitle {
	font-family: Roboto Slab;
	font-weight: bold;
	color: #504440;
	margin-top: 0;
}

.carouselDescription {
	font-family: Roboto Slab;
	color: #504440;
}

.info-button {
	font-size: 28px;
	transition: transform .2s;
	color: #008046;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	outline: 0;
}

.info-button:hover {
	transform: scale(1.1);
	color: #008046;
	text-decoration: none;
}

.icon-brand-button {
	color: #008046;
	transition: transform .2s;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	outline: 0;
}

.icon-brand-button:hover {
	transform: scale(1.1);
	color: #008046;
	text-decoration: none;
}

#header {
	border-bottom: solid 5px #008046;
}

.sidebar {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	overflow: auto;
}


.item {
	height: 400px;
}

.button {
	background-color: green;
}

.bg-green {
	background-color: #008046;
	color: white;
}

span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}

.column {
	margin: 15px 15px 0;
	padding: 0;
}

.column:last-child {
	padding-bottom: 60px;
}

.column:after {
	content: '';
	clear: both;
	display: block;
}

.column div {
	position: relative;
	float: left;
	width: 350px;
	height: 350px;
	margin: 0 0 0 25px;
	padding: 0;
}

.column div:first-child {
	margin-left: 0;
}

.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 350px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure {
	width: 350px;
	height: 350px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover11 figure:hover img {
	opacity: .5;
}

.title {
	padding: 0px 0px 40px;
}

/*********************************/

.button{
background-color:green;
}

.bg-green {
background-color:#008046;
color:white;
}


span {
    margin-left: 1em;
    color: #aaa;
    font-size: 85%;
}



.column {
    margin: 15px 15px 0;
    padding: 0;
}

.column:last-child {
    padding-bottom: 60px;
}


.modal-img {
	margin: 20px;
	width: 350px;
}

.modal-h1 {
	font-family: Roboto Slab;
	font-weight: bold;
	margin: 20px;
}

.modal-h2 {
	font-family: Roboto Slab;
	font-weight: bold;
}

.modal-p {
	font-family: Roboto Slab;
	font-size: 130%;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#photo {
	position: absolute;
	bottom: 0px;
}

.carousel-caption {
	margin: auto;
	height: absolute;
	max-width: 320px;
	margin-bottom: 35px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: rgba(255, 255, 255, 0.6);
	border-top: 6px solid #504440;
}

.carouselTitle {
	font-family: Roboto Slab;
	font-weight: bold;
	color: #504440;
	margin-top: 0;
}

.carouselDescription {
	font-family: Roboto Slab;
	color: #504440;
}

.info-button {
	font-size: 28px;
	transition: transform .2s;
	color: #008046;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	outline: 0;
}

.info-button:hover {
	transform: scale(1.1);
	color: #008046;
	text-decoration: none;
}

.icon-brand-button {
	color: #008046;
	transition: transform .2s;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	outline: 0;
}

.icon-brand-button:hover {
	transform: scale(1.1);
	color: #008046;
	text-decoration: none;
}

#header {
	border-bottom: solid 5px #008046;
}

.sidebar {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.item {
	height: 400px;
}

.button {
	background-color: green;
}

.bg-green {
	background-color: #008046;
	color: white;
}

span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}

.column {
	margin: 15px 15px 0;
	padding: 0;
}

.column:last-child {
	padding-bottom: 60px;
}

.column:after {
	content: '';
	clear: both;
	display: block;
}

.column div {
	position: relative;
	float: left;
	width: 350px;
	height: 350px;
	margin: 0 0 0 25px;
	padding: 0;
}

.column div:first-child {
	margin-left: 0;
}

.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 350px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure {
	width: 350px;
	height: 350px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover11 figure:hover img {
	opacity: .5;
}

.title {
	padding: 0px 0px 40px;
}

.column:after {
    content: '';
    clear: both;
    display: block;
}

.column div {
    position: relative;
    float: left;
    width: 350px;
    height: 350px;
    margin: 0 0 0 25px;
    padding: 0;
}

.column div:first-child {
    margin-left: 0;
}

.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 350px;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}

figure {
    width: 350px;
    height: 350px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.hover11 figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover11 figure:hover img {
    opacity: .5;
}

.title {
    padding: 0px 0px 40px;
}

.navbar-light .navbar-toggler
{
    border: none;
}

.navbar
{
    background-color: #008046;
}
.navbar a
{
    color: white;
}
.navbar .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-toggler {
border-color: rgb(255,255,255);
}

.btn-primary
{
	background-color: transparent;
	border-color: #008046;
	box-shadow: inset 0 0 0 2px #008046;
	color: #008046 !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus
{
	background-color: #008046;
	border-color: #FFFFFF;
	box-shadow: inset 0 0 0 2px #FFFFFF;
	color: #FFFFFF !important;
}