.map
{
    width: 100vw;
    height: 87vh;
}
.map.static
{
    width: unset;
    height: unset;
    margin: auto;
    position: relative;
}
.map.static img
{
    width: 100%;
    height: auto;
}

.marker
{
    height: 48px;
    width: 30px;
    background-image: url('../images/marker.png');
    position: absolute;
    z-index: 10;
}